*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}
a{
    display: block;
    text-align: center;
    margin-top: 2px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    background: #212121;
    color: #fff;
    font-weight: 500;
    transition: background .2s;
    padding: 4px 0px;
}
a:hover{
    background-color: #212121c4;
}